@mixin font($name, $weight) {
  @font-face {
    font: {
      font-family: $name;
      font-weight: $weight;
      display: swap;
    }
    src: url("../fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
    url("../fonts/#{ $name }-#{ $weight }.woff") format("woff"),
    url("../fonts/#{ $name }-#{ $weight }.ttf") format("truetype");
  }
}