@import 'var';

@include font(Montserrat, Regular);
@include font(Montserrat, Bold);
@include font(Montserrat, Medium);



body {
  font-family: "Montserrat", sans-serif;
  color: #e22323;
}

.container {
  padding: 0 20px;
}